includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes


    level: max

    tmpDir: /tmp/phpstan

    ignoreErrors:
        # Filament pages have dynamic parent methods
        -
            message: '#Call to an undefined static method .+::getEloquentQuery\(\)#'
            paths:
                - app/Filament/Resources/StringSets/Pages/EditStringSet.php
                - app/Filament/Resources/StringSets/Pages/ListStringSets.php
        # Eloquent generic factory types
        -
            message: '#Class .* uses generic trait .* but does not specify its types: TFactory#'
            paths:
                - app/Models/*
